---
import FallFromTop from "../interactive/fallFromTop.astro";
const services = [
  {
    title: "Deep Cleaning",
    text: "Transform your living space with our comprehensive deep cleaning services. Our skilled team meticulously tackles dirt, grime, and hidden dust, ensuring every nook and cranny is spotless. From baseboards to light fixtures, we leave nothing untouched, providing a fresh and rejuvenated ambiance for your home."
  },
  {
    title: "Commercial Cleaning",
    text: "Boost your business's image with our professional commercial cleaning services. From office spaces to retail establishments, we understand the unique cleaning needs of commercial properties. Our team is equipped to provide a pristine and sanitized environment, ensuring a positive and welcoming atmosphere for your clients and employees alike."
  },
  {
    title: "Event and Post-Construction Cleaning",
    text: "Hosting a special event or dealing with post-construction chaos? Our event and post-construction cleaning services are here to save the day. We go beyond standard cleaning, addressing the unique challenges of event aftermath or construction debris, leaving your space pristine and ready for its next purpose."
  },

];
import Underline from "../interactive/underline.astro";
import ServiceLabel from './service-text-component.astro'; 
import ServiceImg from './serviceImageComponent.astro';
import ServiceWrapper from './serviceWrapper.astro';  
import MobileServiceComponent from "./mobileServiceComponent.astro";
import {
  CleaningSurface,
    Residential, 
    Pet,
    Office, 
    Moving,
    GreenCleaning,
    Event, 
} from '@/utils/service-images.js'; 

---
<div
class = "mt-[100px] mb-[20px] mx-auto text-center"
>
  <Underline
    wrapperStyle = "mx-auto my-10"
  >
  <FallFromTop
  >
      <h2
          class = "text-2xl font-dm text-center mx-auto"
      >What we can help you with</h2>
  </FallFromTop>
  </Underline>
  <p
    class = "font-jos px-5"
  >We are committed to keep your space clean and <span class="text-primaryColor">prime</span>. At Prime Cleaning Co., we are committed to providing phenomenal customer service with the goal of helping you achieve tranquility in your environment.</p>
</div>
<section class="hidden w-full h-fit sm:grid grid-cols-2 lg:grid-cols-4">
  <ServiceWrapper>
    <ServiceLabel 
    label = "RESIDENTIAL CLEANING"
    subtitle = "Affordable and smooth"
    /> 
    <ServiceImg 
    image = {Residential}
    altText = "Residential Cleaning"
    />
  </ServiceWrapper>
  <ServiceWrapper>
    <ServiceImg 
      image = {Office}
      altText = "Commercial Cleaning"
    />
    <ServiceLabel 
      label = "Commercial Cleaning"
      subtitle = "Make an impression"
    />
  </ServiceWrapper>
  <ServiceWrapper>
    <ServiceLabel 
    label = "MOVING IN/OUT CLEANING"
    subtitle = "Headache-free transition"
    /> 
    <ServiceImg 
    image = {Moving}
    altText = "MOVING IN/OUT CLEANING"
    />
  </ServiceWrapper>
  <ServiceWrapper>
    <ServiceImg 
      image = {Event}
      altText = "EVENT CLEANING"
    />
    <ServiceLabel 
      label = "Event Cleaning"
      subtitle = "Pre- and post-cleaning work"
    />
  </ServiceWrapper>
</section>
<section
  class="grid sm:hidden w-full h-fit"  
>
  <MobileServiceComponent 
    label = "Residential Cleaning"
    subtitle = "Affordable and smooth"
    image = {Residential}
  />
  <MobileServiceComponent 
    label = "Commercial Cleaning"
    subtitle = "Make an impression"
    image = {Office}
  />
  <MobileServiceComponent 
    label = "Moving In/Out Cleaning"
    subtitle = "Headache-free transition"
    image = {Moving}
  />
  <MobileServiceComponent 
    label = "Events Cleaning"
    subtitle = "Pre- and post-cleaning work"
    image = {Event}
  />
</section>