---
import ArrowSec from "@/icons/arrow-sec.tsx";
import ArrowPri from "@/icons/arrow-pri.tsx";
import "./style.css"
interface ButtonProps {
  variant?: "primary" | "secondary";
  text: string;
  type?: "submit" | "button";
  link?: string;  
}

const { 
    variant = "primary", 
    text = "Default Text", 
    type = "button", 
    link, 
} = Astro.props;

const defaultStyles =
"rounded-[18px] flex capitalize items-center justify-center gap-[9px] w-fit text-white text-base lg:text-lg font-semibold font-['Jost'] leading-snug tracking-tight px-10 py-5 md:px-[54px] md:py-[26px] active:translate-x-[5px] active:translate-y-[5px]";
const bgClass = variant === "primary" ? "bg-primary-200" : "bg-primary-100";
const className = `${defaultStyles} ${bgClass} floatAnim`;

---
<a
  href={link}
  class = ""
>
  <button 
      class={className} 
      type={type}
      >
      {text}
      {variant === "primary" ? <ArrowSec /> : <ArrowPri />}
  </button>
</a>